.animated
    animation-duration: 1s
    animation-fill-mode: both
    & .hinge
        animation-duration: 2s
    & .infinite
        animation-iteration-count: infinite
    & .bounceIn,
    & .bounceOut
        animation-duration: .75s

    & .flipOutX,
    & .flipOutY
        animation-duration: .75s