@keyframes bounce
  0%, 20%, 53%, 80%, 100%
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000)
    transform: translate3d(0,0,0)
  40%, 43%
    transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060)
    transform: translate3d(0, -30px, 0)
  70%
      transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060)
      transform: translate3d(0, -15px, 0)
  90%
      transform: translate3d(0,-4px,0)

@keyframes flash
    0%,50%,100%
        opacity: 1
    25%,75%
        opacity: 0

@keyframes pulse
    0%,100%
        transform: scale3d(1,1,1)
    50%
        transform: scale3d(1.05,1.05,1.05)

@keyframes rubberBand
    0%,100%
        transform: scale3d(1,1,1)
    30%
        transform: scale3d(1.25,0.75,1)
    40%
        transform: scale3d(0.75,1.25,1)
    50%
        transform: scale3d(1.15,0.85,1)
    65%
        transform: scale3d(0.95,1.05,1)
    75%
        transform: scale3d(1.05,0.95,1)

@keyframes shake
    0%,100%
        transforn: translate3d(0,0,0)
    10%,30%,50%,70%,90%
        transform: translate3d(-10px,0,0)
    20%,40%,60%,80%
        transform: translate3d(10px,0,0)

@keyframes swing
    20%
        transform: rotate3d(0,0,1,15deg)
    40%
        transform: rotate3d(0,0,1,10deg)
    60%
        transform: rotate3d(0,0,1,-5deg)
    80%
        transform: rotate3d(0,0,1,5deg)
    100%
        transform: rotate3d(0,0,1,0deg)

@keyframes tada
    0%,100%
        transform: scale3d(1,1,1)
    10%,20%
        transform: scale3d(.9,.9,.9) rotate3d(0,0,1,-3deg)
    30%,50%,70%,90%
        transform: scale3d(1.1,1.1,1.1) rotate3d(0,0,1,3deg)
    40%,60%,80%
        transform: scale3d(1.1,1.1,1.1) rotate3d(0,0,1,-3deg)

@keyframes wobble
    0%,100%
        transform: none
    15%
        transform: translate3d(-25%,0,0) rotate3d(0,0,1,-5deg)
    30%
        transform: translate3d(20%,0,0) rotate3d(0,0,1,3deg)
    45%
        transform: translate3d(-15%,0,0) rotate3d(0,0,1,-3deg)
    60%
        transform: translate3d(10%,0,0) rotate3d(0,0,1,2deg)
    75%
        transform: translate3d(-5%,0,0) rotate3d(0,0,1,-1deg)

@keyframes bounceIn
  0%, 20%, 40%, 60%, 80%, 100%
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000)
  0%
    opacity: 0
    transform: scale3d(.3, .3, .3)
  20%
    transform: scale3d(1.1, 1.1, 1.1)
  40%
    transform: scale3d(.9, .9, .9)
  60%
    opacity: 1
    transform: scale3d(1.03, 1.03, 1.03)
  80%
    transform: scale3d(.97, .97, .97)
  100%
    opacity: 1
    transform: scale3d(1, 1, 1)

@keyframes bounceInDown
  0%, 60%, 75%, 90%, 100%
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000)
  0%
    opacity: 0
    transform: translate3d(0, -3000px, 0)
  60%
    opacity: 1
    transform: translate3d(0, 25px, 0)
  75%
    transform: translate3d(0, -10px, 0)
  90%
    transform: translate3d(0, 5px, 0)
  100%
    transform: none

@keyframes bounceInLeft
  0%, 60%, 75%, 90%, 100%
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000)
  0%
    opacity: 0
    transform: translate3d(-3000px, 0, 0)
  60%
    opacity: 1
    transform: translate3d(25px, 0, 0)
  75%
    transform: translate3d(-10px, 0, 0)
  90%
    transform: translate3d(5px, 0, 0)
  100%
    transform: none

@keyframes bounceInRight
  0%, 60%, 75%, 90%, 100%
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000)
  0%
    opacity: 0
    transform: translate3d(3000px, 0, 0)
  60%
    opacity: 1
    transform: translate3d(-25px, 0, 0)
  75%
    transform: translate3d(10px, 0, 0)
  90%
    transform: translate3d(-5px, 0, 0)
  100%
    transform: none

@keyframes bounceInUp
  0%, 60%, 75%, 90%, 100%
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000)
  0%
    opacity: 0
    transform: translate3d(0, 3000px, 0)
  60%
    opacity: 1
    transform: translate3d(0, -20px, 0)
  75%
    transform: translate3d(0, 10px, 0)
  90%
    transform: translate3d(0, -5px, 0)
  100%
    transform: translate3d(0, 0, 0)

@keyframes bounceOut
  20%
    transform: scale3d(.9, .9, .9)
  50%, 55%
    opacity: 1
    transform: scale3d(1.1, 1.1, 1.1)
  100%
    opacity: 0
    transform: scale3d(.3, .3, .3)

// @keyframes bounceOutDown

// @keyframes bounceOutLeft

// @keyframes bounceOutRight

// @keyframes bounceOutUp

@keyframes fadeIn
    0%
        opacity: 0
    100%
        opacity: 1

// @keyframes fadeInDown

// @keyframes fadeInDownBig

// @keyframes fadeInLeft

// @keyframes fadeInLeftBig

// @keyframes fadeInRight

// @keyframes fadeInRightBig

// @keyframes fadeInUp

// @keyframes fadeInUpBig

@keyframes fadeOut
    0%
        opacity: 1
    100%
        opacity: 0

// @keyframes fadeOutDown

// @keyframes fadeOutDownBig

// @keyframes fadeOutLeft

// @keyframes fadeOutLeftBig

// @keyframes fadeOutRight

// @keyframes fadeOutRightBig

// @keyframes fadeOutUp

// @keyframes fadeOutUpBig

// @keyframes flip

// @keyframes flipInX

// @keyframes flipInY

// @keyframes flipOutX

// @keyframes flipOutY

// @keyframes lightSpeedIn

// @keyframes lightSpeedOut

// @keyframes rotateIn

// @keyframes rotateInDownLeft

// @keyframes rotateInDownRight

// @keyframes rotateInUpLeft

// @keyframes rotateInUpRight

// @keyframes rotateOut

// @keyframes rotateOutDownLeft

// @keyframes rotateOutDownRight

// @keyframes rotateOutUpLeft

// @keyframes rotateOutUpRight

// @keyframes slideInDown

// @keyframes slideInLeft

// @keyframes slideInRight

// @keyframes slideInUp

// @keyframes slideOutDown

// @keyframes slideOutLeft

// @keyframes slideOutRight

// @keyframes slideOutUp

// @keyframes hinge

// @keyframes rollIn

// @keyframes rollOut

// @keyframes zoomIn

// @keyframes zoomInDown

// @keyframes zoomInLeft

// @keyframes zoomInRight

// @keyframes zoomInUp

// @keyframes zoomOut

// @keyframes zoomOutDown

// @keyframes zoomOutLeft

// @keyframes zoomOutRight

// @keyframes zoomOutUp